# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/
doc_build/
apps/website/dist/
apps/website/.ilha/
browser-tests/.generated/
playwright-report/
test-results/

# IDE
.vscode/*
!.vscode/extensions.json
.idea
repomix-output.xml

diff.txt
.claude
.pi*
browser-tests
playwright.config.ts
